{% extends 'index.html' %}{% load static %}{% block content %}
<style>
    .navbar .nav-link {
        color: #000 !important;
        /* Change link colors to match the white background */
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Architecture</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Services</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Architecture</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- architecture start  -->
<div class="container-xxl py-5">
    <div class="container-fluid">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <h4 class="section-title">Architecture</h4> -->
            <h1 class="display-5 mb-4" style="color:#3673b2;">Architectural Masterpieces by John’s Concepts</h1>
        </div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title">Timeless Creativity Sculpted</h4>
            <p class="mb-4">At John’s Concepts, we are of the opinion that architecture is the unification of art and science. Our architects are visionaries—people who can convert the space into living work of art, whereby every structure we design is utilitarian and aesthetically appealing. Be it a calm residential space, an active commercial building, or a green structure; our designs come inspired from your dreams and grounded through practicality.</p>
        </div>
        <br>
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <!-- Feature Start -->
                
                        <div class="row g-5">
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                                <h4 class="section-title">Our Architectural Services</h4>
                                <!-- <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1> -->
                                <p class="mb-4">
                                </p>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/Home_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Custom Home Design</h3>
                                                <p class="mb-0">We design homes that resonate with your style,
                                                    personality, and lifestyle. Every line and curve is crafted to
                                                    create a space that feels uniquely yours.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/commercial_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Commercial Architecture</h3>
                                                <p class="mb-0">From trendy office buildings to bustling retail outlets,
                                                    we provide customized design solutions that are functional for work
                                                    and welcoming to people who walk through your doors.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/interior_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Interior Architecture</h3>
                                                <p class="mb-0">Our experience ranges from creating marvellous interiors
                                                    to being extremely functional, while seamlessly driving forward the
                                                    design of your space.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/sustanable_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Sustainable Architecture</h3>
                                                <p class="mb-0">We are committed to designs with green buildings that
                                                    use low energy input and are friendly to the environment</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="feature-img">
                                    <img class="img-fluid" src="{%static 'img\arhitetural1.jpg' %}" alt="">
                                    <img class="img-fluid" src="{%static 'img\arhitetural2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                
                <!-- Feature End -->
            </div>

            <div class="col-lg-12 mb-5"></div>
            <!-- Service Start -->
            <div class="col-lg-12 wow fadeInUp mt-5" data-wow-delay="0.1s">
                
                        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 600px;">
                            <h4 class="section-title mb-5">Why Choose Us for Architectural Services?</h4>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-1.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/ideation.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Innovative Design</h3>
                                        <p class="mb-4">We always remain abreast with all the latest trends in architectural innovation to ensure that we bring your dream to fruition.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-4.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/collab.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Collaborative Process</h3>
                                        <p class="mb-4">We have a process and consider your input paramount.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-5.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/detail.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Attention to Detail</h3>
                                        <p class="mb-4">We are very meticulous in our approach since we factor in all details, from major concepts to even the minutest ones.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-6.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/save-the-planet.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Save the Planet</h3>
                                        <p class="mb-4">We emphasize a lot on sustainability and bring forth designs that are eco-friendly and energy saving, keeping in mind a better tomorrow.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            <!-- Service End -->
        </div>
    </div>
</div>

<!-- architecture end  -->


{% endblock %}