{% extends 'index.html' %}{% load static %}{% block content %}
<style>
    .navbar .nav-link {
        color: #000 !important;
        /* Change link colors to match the white background */
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Civil Construction</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Services</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Civil Construction</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- architecture start  -->
<div class="container-xxl py-5">
    <div class="container-fluid">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <h4 class="section-title">Architecture</h4> -->
            <h1 class="display-5 mb-4" style="color:#3673b2;">Civil Construction: John's Concepts</h1>
        </div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title">Building the Foundations of Tomorrow</h4>
            <p class="mb-4">At John's Concepts, civil construction is the stronghold of our expertise. Our firm is dedicated to constructing infrastructure important to supporting a lively community and maintaining a healthy environment. We aim for quality, safety, and innovation, delivering our projects in civil construction, whether it be in roads and bridges, water treatment plants, or urban development.</p>
        </div>
        <br>
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <!-- Feature Start -->
                
                        <div class="row g-5">
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                                <h4 class="section-title">Our Civil Building Services</h4>
                                <!-- <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1> -->
                                <p class="mb-4">
                                </p>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/construction.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Infrastructure Development</h3>
                                                <p class="mb-0">We design and build critical infrastructure projects. Connecting people and communities are roads, highways, bridges, and tunnels to further enhance mobility. Our designed solutions guarantee durability and efficiency, thus assuring long-term value for these communities.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/buildings.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Development of Cities</h3>
                                                <p class="mb-0">We do play a big role in shaping the contours and dynamism of contemporary cities. From residential areas to commercial centers, we can create very befitting and lively spaces able to accommodate rising human numbers.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/sorting.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Waste and Water Management</h3>
                                                <p class="mb-0">Whether it is water treatment plants, drainage systems, or waste management facilities, we bring the latest technologies that will secure environmental sustainability without sacrificing public health.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/excavation.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Earthworks & Land Development</h3>
                                                <p class="mb-0">We offer an integrated earthworks and land development service in a way that perfectly prepares the site for construction with precision and care. Our services involve excavation, grading, and soil stabilization to warrant any given project starts on solid ground.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="feature-img">
                                    <img class="img-fluid" src="{%static 'img\Civil_contruction1.jpg' %}" alt="">
                                    <img class="img-fluid" src="{%static 'img\Civil_contruction2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                
                <!-- Feature End -->
            </div>

            <div class="col-lg-12 mb-5"></div>
            <!-- Service Start -->
            <div class="col-lg-12 wow fadeInUp mt-5" data-wow-delay="0.1s">
                
                        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 600px;">
                            <h4 class="section-title mb-5">Why John's Concepts for Civil Construction?</h4>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-1.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/demon_enter.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Demonstrated Expertness</h3>
                                        <p class="mb-4" style="text-align: justify;">Demonstrated Expertness: Our team, over these years in the business, has completed many civil construction projects that have built in us a reputation for being reliable and excellent.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-4.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/safety.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Safety Commitment</h3>
                                        <p class="mb-4" style="text-align: justify;">Literally at the core of what we do, it is being committed to strict safety standards that leads industry by providing surety that each and every project is accomplished without any compromise to the well-being of our workers and the community.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-5.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/innovative_solutions.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Innovative Solutions</h3>
                                        <p class="mb-4" style="text-align: justify;">We employ state-of-the-art technology with innovatively new construction methods to realize effective, sustainable, and economic projects.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-6.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/clint.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Client-Centric</h3>
                                        <p class="mb-4" style="text-align: justify;">We interact with our clients transparently and customize the solutions to fit their specific requirements and goals.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            <!-- Service End -->
        </div>
    </div>
</div>

<!-- architecture end  -->


{% endblock %}