{% extends 'index.html' %}{% load static %}{% block content %}
<style>
    .navbar .nav-link {
        color: #000 !important;
        /* Change link colors to match the white background */
    }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">Interior Design</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Services</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Interior Design</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- architecture start  -->
<div class="container-xxl py-5">
    <div class="container-fluid">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <h4 class="section-title">Architecture</h4> -->
            <h1 class="display-5 mb-4" style="color:#3673b2;">Interior Design Service of <br> John's Concepts</h1>
        </div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title">Spaces Transformed, Lives Elevated</h4>
            <p class="mb-4">At Johns Concepts, we believe that interior design is not just about decorating spaces; it's more about designing an identity for a place—a space that breathes inspiration, nurtures your being, and reflects your unique style. Our in-house, expert designers work with you side by side to craft the most functional, sustainable, and beautiful interiors. We bring to life your dream and vision, for a comfortable home, modern office, or exclusive commercial space with absolute creativity and precision.</p>
        </div>
        <br>
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <!-- Feature Start -->
                
                        <div class="row g-5">
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                                <h4 class="section-title">Our Interior Design Services</h4>
                                <!-- <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1> -->
                                <p class="mb-4">
                                </p>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/blueprint.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Residential Interior Design</h3>
                                                <p class="mb-0">Let us make your house into a home with our custom design services. Modern minimalism to classic elegance; we can create an interior that is reflective of your lifestyle and tastes—that feels just like home.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/interior_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Commercial Interior Design</h3>
                                                <p class="mb-0">Allow our advanced commercial interior design to elevate your business environment. Spaces that evoke productivity and connect with clients while woven with brand identity make sure your place of work doesn't just work but inspires.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/living-room.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Furniture & Decor</h3>
                                                <p class="mb-0">We can transform your space with our custom furniture and décor solutions. We design and procure custom-made pieces fitting your space perfectly, adding that extra note to make your spaces really unique.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-start">
                                            <img class="flex-shrink-0" src="{%static 'img/icons/sustanable_arch.png' %}"
                                                width="60px" alt="Icon">
                                            <div class="ms-4">
                                                <h3>Sustainable Interior Design</h3>
                                                <p class="mb-0">We are committed to creating eco-friendly interiors that are as kind to the planet as they are to the eye. We integrate energy-saving lighting, eco-materials, and innovative solutions that reduce your carbon footprint yet enrich your space with sustainable designs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="feature-img">
                                    <img class="img-fluid" src="{%static 'img\About_interior1.jpg' %}" alt="">
                                    <img class="img-fluid" src="{%static 'img\About_interior2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                
                <!-- Feature End -->
            </div>

            <div class="col-lg-12 mb-5"></div>
            <!-- Service Start -->
            <div class="col-lg-12 wow fadeInUp mt-5" data-wow-delay="0.1s">
                
                        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 600px;">
                            <h4 class="section-title mb-5">Why to Choose John's Concepts for Interior Design?</h4>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-1.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/ideation.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Custom Designs</h3>
                                        <p class="mb-4" style="text-align: justify;">We don't believe in one-size-fits-all. Our process of designing is personalized, meaning every bit of it is tailored according to the things you need.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-4.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/skills.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Expert Designers</h3>
                                        <p class="mb-4" style="text-align: justify;">Our team consists of a group of experienced interior designers who bring a lot of creativity and experience into each project. They make sure your space not only looks good but functions in a comfortable way.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-5.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/execution.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Flawless Execution</h3>
                                        <p class="mb-4" style="text-align: justify;">From concept to completion, we are in control of every detail of your interior design project in precision and care.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="service-item d-flex position-relative text-center h-100">
                                    <img class="bg-img" src="{%static 'img/service-6.jpg' %}" alt="">
                                    <div class="service-text p-5">
                                        <img class="mb-4" src="{%static 'img/icons/success.png' %}" width="60px"
                                            alt="Icon">
                                        <h3 class="mb-3">Holistic Approach</h3>
                                        <p class="mb-4" style="text-align: justify;">We take everything into consideration in terms of design, from lighting and layout to colour schemes and textures, to ensure that a final product is produced harmoniously.</p>
                                        <!-- <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            <!-- Service End -->
        </div>
    </div>
</div>

<!-- architecture end  -->


{% endblock %}