{% extends 'index.html' %}{% load static %}{% block content %}
<style>
    .navbar .nav-link {
        color: #000 !important;
        /* Change link colors to match the white background */
    }
    .jobdescription{
        padding: 20px;
        margin: 10px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="jobdescription">
                <h3 style="color:#3673b2;">Job Details</h3>
                <div class="blog__item"></div>
                    <div class="blog__item__pic">
                        
                    </div>
                    <div class="blog__item__text mt-3">
                        
                        <h3><a href="#">{{item.title}}</a></h3>
                        <p><b>Experiance: </b>{{item.experience}}</p>
                        <p><b>Education: </b> {{item.education}}</p>
                        <p><b>Job Description</b></p>
                        <p>{{item.description}}</p>
                        <p><b>Salary: </b> {{item.salary}}</p>
                        <p><b>Location: </b> {{item.location}}</p>
                        <!-- <a href="{%url 'Jobapplication' item.id %}" class="btn btn-primary">Apply Now</a> -->
                    </div>
                    <ul style="list-style: none;">
                        <li style="float: right;font-size: x-small;">Posted On: <i class="bi bi-calendar-week"></i> {{item.posted_on}}</li>
                        <!-- <li><i class="fa fa-comment-o"></i> 5</li> -->
                    </ul>
                

            </div>
        </div>
        <div class="col-md-6">
            <div class="jobdescription">
                <h3 style="color:#3673b2;">Job Application</h3>

                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="fname" class="form-control" id="name" placeholder="First Name" required >
                                <label for="name">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="lname" class="form-control" id="name" placeholder="Last Name" required>
                                <label for="name">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" name="pnum" class="form-control" id="email" placeholder="Phone Number" required>
                                <label for="email">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="edu" class="form-control" id="education" placeholder="Qualification" required>
                                <label for="email">Qualification</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="experiance" class="form-control" id="experiance" placeholder="experiance" required>
                                <label for="email">Experiance</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <textarea name="address" class="form-control" style="height: 100px" id="Address" placeholder="Address" required></textarea>
                                <label for="email">Address</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="file" name="resume" class="form-control" id="resume" placeholder="Resume" required>
                                <label for="email">Upload Resume</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="file" name="folio" class="form-control" id="Portfolio" placeholder="Portfolio">
                                <label for="email">Upload Portfolio (Optional)</label>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit Application</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}