{% extends 'index.html' %}{% load static %}{% block content %}
<style>
    .navbar .nav-link {
        color: #000 !important;
    }

    .blog__item {
        margin: 20px;
        overflow: hidden;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    /* Image Styling for Landscape Mode */
    .blog__item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        /* Maintain landscape format */
        transition: transform 0.9s ease;
    }

    .blog__item img:hover {
        transform: scale(1.1);
        /* Zoom on hover */
    }

    .blog__item ul {
        list-style: none;
    }

    .blog__item li {
        float: left;
        font-size: x-small;
    }

    @media (max-width: 650px) {
        .blog__item img {
            aspect-ratio: 16 / 9;
            /* Still maintain landscape ratio on mobile */
            height: auto;
            /* Ensure proper scaling on smaller screens */
        }

        .nav-tabs button {
            font-size: small;
        }
    }
</style>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">{{title}} </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Projects</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">{{title}} </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Project Start -->
<div class="container-xxl project py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Our {{title}} Projects</h4>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Completed
                    Projects</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">On Going
                    Projects</button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <div class="row mt-4">
                    {% for item in projects_completed %}
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <a href="{%url 'ProjectSingle' item.id %}" class="text-decoration-none">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{item.primary_image.url}}" alt="">
                                </div>
                                <div class="blog__item__text mt-3">
                                    <h4 class="text-center"><a href="#">{{item.project_title}}</a></h4>
                                    <div class="d-flex" style="justify-content: space-evenly;">
                                        <h5>Land <span class="text-info">&nbsp;&nbsp;&nbsp; {{item.land_area}}</span>
                                        </h5>
                                        <h5>Area <span class="text-info">&nbsp;&nbsp;&nbsp; {{item.bulding_area}}</span>
                                        </h5>
                                    </div>
                                    <h6 class="text-center text-primary"><i class="bi bi-geo-alt-fill"></i>
                                        &nbsp;&nbsp;&nbsp; {{item.location}}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="row mt-4">
                    {% for item in projects_ongoing %}
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <a href="{%url 'ProjectSingle' item.id %}" class="text-decoration-none">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{item.primary_image.url}}" alt="">
                                </div>
                                <div class="blog__item__text mt-3">
                                    <h4 class="text-center"><a href="#">{{item.project_title}}</a></h4>
                                    <div class="d-flex" style="justify-content: space-evenly;">
                                        <h5>Land <span class="text-info">&nbsp;&nbsp;&nbsp; {{item.land_area}}</span>
                                        </h5>
                                        <h5>Area <span class="text-info">&nbsp;&nbsp;&nbsp; {{item.bulding_area}}</span>
                                        </h5>
                                    </div>
                                    <h6 class="text-center text-primary"><i class="bi bi-geo-alt-fill"></i>
                                        &nbsp;&nbsp;&nbsp; {{item.location}}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
                <!-- Add ongoing projects here -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- Project End -->

{% endblock %}